<th:block th:fragment="footer">
  <footer class="footer" style="margin-top: 10px;">
    <section class="clearfix footer__top">
      <div class="footer__col">
        <ul class="f-listmenu">
          <li><a rel="nofollow" href="/tin-tuc/tat-tan-tat-ve-chuong-trinh-uu-dai-app-qua-tang-vip-link-tai-va-cach-su-dung-1481677#gioithieu">Tích điểm Quà tặng VIP</a></li>
          <li><a rel="nofollow" href="/lich-su-mua-hang">Lịch sử mua hàng</a></li>
          <li><a rel="nofollow" href="/tra-gop">Tìm hiểu về mua trả góp</a></li>
          <li><a rel="nofollow" href="/bao-hanh">Chính sách bảo hành</a></li>
          <li><a href="javascript:void(0)" class="arrow showtaga">Xem thêm</a></li>
          <li class="hidden"><a rel="nofollow" href="/chinh-sach-bao-hanh-san-pham">Chính sách đổi trả</a></li>
          <li class="hidden"><a rel="nofollow" href="/giao-hang">Giao hàng &amp; Thanh toán</a></li>
          <li class="hidden"><a rel="nofollow" href="/huong-dan-mua-hang">Hướng dẫn mua online</a></li>
          <li class="hidden"><a rel="nofollow" href="/b2b">Bán hàng doanh nghiệp</a></li>
          <li class="hidden"><a rel="nofollow" href="/phieu-mua-hang">Phiếu mua hàng</a></li>
          <li class="hidden"><a rel="nofollow" href="https://hddt.thegioididong.com">In hóa đơn điện tử</a></li>
          <li class="hidden"><a rel="nofollow" href="/tos">Quy chế hoạt động</a></li>
          <li class="hidden"><a rel="nofollow" href="/chinh-sach-xu-ly-du-lieu-ca-nhan">Chính sách xử lý dữ liệu cá nhân</a></li>
          <li class="hidden"><a rel="nofollow" href="/noi-quy-cua-hang">Nội quy cửa hàng</a></li>
          <li class="hidden"><a rel="nofollow" href="/chat-luong-phuc-vu">Chất lượng phục vụ</a></li>
          <li class="hidden"><a rel="nofollow" href="/tin-tuc/can-trong-voi-nhung-sieu-thi-thegioididong-khong-chinh-chu--683321">Cảnh báo giả mạo</a></li>
          <li class="hidden"><a rel="nofollow" href="/chinh-sach-khui-hop-apple">Chính sách khui hộp sản phẩm Apple</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <ul class="f-listmenu">
          <li><a rel="nofollow" href="https://mwg.vn">Giới thiệu công ty (MWG.vn)</a></li>
          <li><a rel="nofollow" href="https://vieclam.thegioididong.com">Tuyển dụng</a></li>
          <li><a rel="nofollow" href="/lien-he">Gửi góp ý, khiếu nại</a></li>
          <li><a rel="nofollow" href="/he-thong-sieu-thi-the-gioi-di-dong">Tìm siêu thị (3.163 shop)</a></li>
          <li><a rel="nofollow" class="linkversion" href="https://www.thegioididong.com/?sclient=mobile">Xem bản mobile</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <div class="f-listtel">
          <p class="f-listtel__title">
            <strong>Tổng đài hỗ trợ</strong>
          </p>
          <p class="f-listtel__content">
            <span>Gọi mua:</span> <a href="tel:1900232460">1900 232 460</a>
            (7:30 - 22:00)
          </p>
          <p class="f-listtel__content">
            <span>Khiếu nại:</span> <a href="tel:18001062">1800.1062</a>
            (8:00 - 21:30)
          </p>
          <p class="f-listtel__content">
            <span>Bảo hành:</span> <a href="tel:1900232464">1900 232 464</a>
            (8:00 - 21:00)
          </p>
        </div>
      </div>
      <div class="footer__col">
        <div class="f-social">
          <a href="https://www.facebook.com/thegioididongcom" class="link-fb">
            <i class="icon-facebook"></i>
            3886.8k Fan
          </a>
          <a href="https://www.youtube.com/user/TGDDVideoReviews" class="link-ytb">
            <i class="icon-youtube"></i>
            866k Đăng ký
          </a>

          <a rel="nofollow" href="https://zalo.me/936590283559458736" target="_blank" class="imgzalo">
            <img class="lazy lazyloaded" data-original="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/icon_zalo.png" data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/icon_zalo.png" alt="zalo" width="18" height="18" loading="lazy" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/icon_zalo.png">
            Zalo TGDĐ
          </a>
        </div>
        <div class="f-certify">
          <a rel="nofollow" href="http://online.gov.vn/Home/WebDetails/20090" target="_blank">
            <i class="icon-congthuong"></i>
          </a>
          <a rel="nofollow" href="/tos#giai-quyet-khieu-nai" target="_blank">
            <i class="icon-khieunai"></i>
          </a>
          <a rel="nofollow" class="dmca-badge" href="https://www.dmca.com/Protection/Status.aspx?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d&amp;refurl=https://www.thegioididong.com/" target="_blank">
            <i class="icon-protected"></i>
          </a>
          <a class="_ncsc" rel="nofollow" href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/thegioididongcom-1632835473" title="Chung nhan Tin Nhiem Mang" target="_blank">
            <img class="lazy lazyloaded" data-original="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com" data-src="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com" width="150" height="35" alt="Chung nhan Tin Nhiem Mang" src="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com">
          </a>
        </div>
        <div class="f-website">
          <div class="footer__logo">
            <p class="footer__logo-hd">Website cùng tập đoàn</p>
            <ul class="footer__logo-list">
              <li>
                <a rel="nofollow" href="https://www.topzone.vn/" target="_blank" title="Chuỗi cửa hàng cao cấp Apple">
                  <i class="iconlogo-topzone visible"></i>
                </a>
              </li>
              <li>
                <a rel="nofollow" href="https://www.dienmayxanh.com/" target="_blank">
                  <i class="iconlogo-dienmayxanh visible"></i>
                </a>
              </li>
              <li>
                <a rel="nofollow" href="https://www.bachhoaxanh.com/" target="_blank">
                  <i class="iconlogo-bachhoaxanh visible"></i>
                </a>
              </li>
              <li>
                <a rel="nofollow" href="https://www.nhathuocankhang.com/" target="_blank" title="Chuỗi nhà thuốc chuẩn GPP">
                  <i class="iconlogo-ankhang visible"></i>
                </a>
              </li>
              <li>
                <a rel="nofollow" href="https://www.avakids.com/" target="_blank" title="Chuỗi cửa hàng mẹ và bé">
                  <i class="iconlogo-kids visible"></i>
                </a>
              </li>
              <li>
                <a rel="nofollow" href="https://www.4kfarm.com/" target="_blank" title="Nông trại rau sạch">
                  <i class="iconlogo-4kfarm visible"></i>
                </a>
              </li>
              <li>
                <a rel="nofollow" href="https://vieclam.thegioididong.com/" target="_blank" title="Trang tuyển dụng của tập đoàn Thế Giới Di Động">
                  <i class="iconlogo-vieclam visible"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="copyright">
      <section>
        <p>
          © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH &amp; ĐT TP.HCM cấp ngày 02/01/2007. GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020.<br>
          Địa chỉ: 128 Trần Quang Khải, P.Tân Định, Q.1, TP.Hồ Chí Minh. Địa chỉ liên hệ và gửi chứng từ: Lô T2-1.2, Đường D1, Đ. D1, P.Tân Phú, TP.Thủ Đức, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. Email: Tot.huynhvan@thegioididong.com.
          <a rel="nofollow" href="/thoa-thuan-su-dung-trang-mxh">Xem chính sách sử dụng</a>

        </p>
      </section>
    </div>
  </footer>
</th:block>