<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{manage/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
  <meta charset="UTF-8">
  <title>Hàng hoá</title>

  <th:block id="css-resources">
  </th:block>

</head>
<body>
<th:block id="main-content">
  <main id="main" class="main">

    <div class="page-title">
      <h1>Thêm Hãng</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="list.html">Hãng</a></li>
        <li class="breadcrumb-item active"><a href="insert.html"></a>Tạo mới</li>
      </ol>
    </div>
    <!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <!-- General Form Elements -->
              <form id="form">
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Tên Người review</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" name="name" id="name">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Ghi chú</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" name="note" id="note">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label pt-0">Star</label>
                  <div class="col-sm-3">
                    <select class="form-select " name="star" id="star" aria-label="Default select example">
                      <option value="1">1 star</option>
                      <option value="2">2 star</option>
                      <option value="3">3 star</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Hữu ích</label>
                  <div class="col-sm-9">
                      <input type="number" class="form-control" name="likeCnt" id="likeCnt">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Đánh giá</label>
                  <div class="col-sm-9">
                      <textarea class="form-control" name="content" id="content" style="height: 100px" placeholder="Mời bạn chia sẻ thêm cảm nhận..."></textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Ngày Đánh giá</label>
                  <div class="col-sm-3">
                      <input type="date" class="form-control" name="dateOfReview" id="dateOfReview">
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-sm-2 col-form-label">Tags</label>
                  <div class="col-sm-9">
                      <input type="number" class="form-control" name="typePeople" id="typePeople">
                  </div>
                </div>
                <!--List Product-->
                <div id="listProduct">
                  <div class="row mb-2">
                    <label class="col-sm-2 col-form-label">Sản phẩm</label>
                    <div class="col-sm-3">
                          <select class="form-select" id="list-product" name="product" aria-label="sản phẩm">
                            <option value="0" selected>Sản Phẩm</option>
                          </select>
                    </div>
                  </div>
                </div>
                <div id="html-image-data">
                  <th:block th:switch="${type}">
                    <!-- * for default case -->
                    <th:block th:case="*">
                      <th:block
                              th:replace="~{/manage/merchandise/review/imageReviewCommon.html}"></th:block>
                    </th:block>
                  </th:block>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-primary" onclick="save()">Lưu</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>
</th:block>

<th:block id="js-resources">
  <script th:inline="javascript">
    const form = $("#form");
    const pageParam = {
      'formId': 'frm',
      'dataListUrl': apiDomain + API.getMerchandiseReviewUrl(),
      'deleteUrl': apiDomain + API.getMerchandiseReviewUrl(),
      'addUrl': apiDomain + API.getMerchandiseReviewUrl(),
      'updateStatusUrl': apiDomain + API.getMerchandiseReviewUrl() + "/status",
      'getProduct': apiDomain + API.getMerchandiseProductUrl(),

    };
    form.validate({
      rules: {
        name: {
          required: true,
          maxlength: 50
        },
        note: {
          required: true,
          maxlength: 50
        },
        content: {
          required: true
        },
        likeCnt: {
          required: true
        },
        dateOfReview: {
          required: true
        }
      },
      messages: {
        name: "Vui lòng nhập tên và tên < 50 ký tự",
        note: "Vui lòng nhập Ghi chú và Ghi chú < 50 ký tự",
        content: "Vui lòng để lại đánh giá",
        likeCnt: "Vui lòng nhập Hữu ích",
        dateOfReview: "Vui lòng nhập Ngày đánh giá"
      }
    });

    $(document).ready(function () {
      loadDataSelect("list-product", pageParam.getProduct, '0', "Sản Phẩm");
      $("#list-product").change();
    });

    form.on("submit", function(e) {
      e.preventDefault();
      if(form.valid()){
        let form = $("#form")[0];
        let data = new FormData(form);
        let res = ajaxCall(apiDomain + API.getMerchandiseReviewUrl(),data,'POST',false);
        if(res.status==="success") {
          alert("Thêm mới thành công");
          $(location).attr('href', './list');
        }else{
          alert(res.msg);
        }
      }
    });
    function save() {
      if (form.valid()) {
        let param = {};
        param['name'] = $('#name').val();
        param['star'] = $("#star option:selected").val();
        param['note'] = $('#note').val();
        param['likeCnt'] = $('#likeCnt').val();
        param['content'] = $('#content').val();
        param['typePeople'] = $('#typePeople').val();
        param['dateOfReview'] = new Date($('#dateOfReview').val());
        param['idProduct'] = $("#list-product option:selected").val();
        param['status'] = $("#status option:selected").val();
        param['image'] = JSON.stringify(buildJsonImage());
        param['htmlImageData'] = $('#html-image-data').html();


        let res = ajaxCall(pageParam.addUrl, param, 'POST');
        if (res.status === "success") {
          alert("Thêm mới thành công");
          $(location).attr('href', './list');
        }else {
          alert(res.msg);
        }
      }
    }
    function loadDataSelect(select, url, focus, name) {
      let param = 'enabledPage=false';
      let res = ajaxCall(url, param, 'GET');
      if (res.status === 'success') {
        res.data.forEach((object) => {
          if (focus === object.id) {
            $('#' + select).append('<option value=' + object.id + ' selected>' + object.name + '</option>');
          } else {
            $('#' + select).append('<option value=' + object.id + '>' + object.name + '</option>');
          }
        });
      } else {
        alert(res.msg);
      }

    }
  </script>
</th:block>
</body>
</html>
