<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{manage/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
  <meta charset="UTF-8">
  <title>Thêm template</title>

  <th:block id="css-resources">
    <style>

    </style>
  </th:block>

</head>
<body>
<th:block id="main-content">
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Thêm template</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/config/template">Template</a></li>
          <li class="breadcrumb-item active"><a href="/admin/config/template/insert"></a>Thêm mới</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>

              <!-- General Form Elements -->
              <form id="form-template">
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Tên template</label>
                  <div class="col-sm-10">
                    <input type="text" name="templateName" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Html admin</label>
                  <div class="col-sm-10">
                    <input id="file-content-admin" name="htmlAdmin" type="hidden"/>
                    <input class="form-control" name="htmlAdminFile" type="file" accept=".html" onchange="addContentFile(this,'file-content-admin')">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Html home page</label>
                  <div class="col-sm-10">
                    <input id="file-content-user" name="htmlUser" type="hidden"/>
                    <input class="form-control" name="htmlUserFile" type="file" accept=".html" onchange="addContentFile(this,'file-content-user')">
                  </div>
                </div>

                <!--Image-->
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Hình ảnh</label>
                  <div class="col-sm-4">
                    <div id="image-preview" class="img-fluid" style="position:relative; display: none">
                    </div>
                    <label style="cursor: pointer" for="image-html"><i style="font-size: 25px;" class="bi bi-upload"></i></label>
                    <input name="fileImage" id="image-html" type="file" accept="image/*" style="display: none" onchange="showImgPreview('image-preview','image-html',this)">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Trạng thái</label>
                  <div class="col-sm-10">
                    <select class="form-select" name="status" aria-label="Default select example">
                      <option selected="" value="1">Sử dụng</option>
                      <option value="0">Không sử dụng</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <button type="button" class="btn btn-danger" onclick="cancel('/admin/config/template')">Hủy</button>
                  </div>
                </div>

              </form>
              <!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>
</th:block>

<th:block id="js-resources">
  <script th:inline="javascript">
    $("#form-template").validate({
      invalidHandler: function(form, validator) {
        let errors = validator.numberOfInvalids();
        if (errors) {
          validator.errorList[0].element.focus();
        }
      },
      highlight: function(element, errorClass) {
        $(element).removeClass(errorClass);
      },
      rules: {
        templateName: "required",
        htmlAdminFile: "required",
        htmlUserFile: "required",
      },
      messages: {
        templateName: "Vui lòng nhập tên",
        htmlAdminFile: "Vui lòng chọn file",
        htmlUserFile: "Vui lòng chọn file",
      }
    });


    $( "#form-template" ).on( "submit", function(e) {
      e.preventDefault();
      if($("#form-template").valid()){
        if(!$('#image-html').val()){
          alert("Vui lòng chọn ảnh");
          return;
        }
        let form = $('#form-template')[0];
        let data = new FormData(form);
        let fileImage = data.get('fileImage');
        let urlImg = uploadFile(fileImage);
        data.set('imgPreview',urlImg);
        let res = ajaxCall(apiDomain + '/api/v1/admin/config/template',data,'post',false);
        if(res.status==="success") {
          alert("Thêm mới thành công");
          $(location).attr('href', '/admin/config/template');
        }
      }
     });

  </script>
</th:block>
</body>
</html>
