<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{manage/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Sản Phẩm</title>

    <th:block id="css-resources">
    </th:block>

</head>
<body>
<th:block id="main-content">
    <main id="main" class="main">

        <div class="page-title">
            <h1>Sản Phẩm</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Sản Phẩm</a></li>
                    <li class="breadcrumb-item active"><a href="./product/list"></a>Danh sách</li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">
                <div class="col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Hàng hoá</h5>
                            <div class="accordion accordion-flush" id="accordionFlushCategory">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingCategory">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCategory" aria-expanded="false" aria-controls="flush-collapseCategory">
                                            Danh mục
                                        </button>
                                    </h2>
                                    <div id="flush-collapseCategory" class="accordion-collapse collapse" aria-labelledby="flush-headingCategory" data-bs-parent="#accordionFlushCategory">
                                        <ul class="list-group" id="sch-category">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Thương Hiệu</h5>
                            <div class="accordion accordion-flush" id="accordionFlushBrand">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingBrand">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBrand" aria-expanded="false" aria-controls="flush-collapseBrand">
                                            Thương Hiệu
                                        </button>
                                    </h2>
                                    <div id="flush-collapseBrand" class="accordion-collapse collapse" aria-labelledby="flush-headingBrand" data-bs-parent="#accordionFlushBrand">
                                        <ul class="list-group" id="sch-brand">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="accordion accordion-flush" id="accordionFlushSort">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingSort">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSort" aria-expanded="false" aria-controls="flush-collapseSort">
                                            Lựa chọn thương hiệu
                                        </button>
                                    </h2>
                                    <div id="flush-collapseSort" class="accordion-collapse collapse" aria-labelledby="flush-headingSort" data-bs-parent="#accordionFlushSort">
                                        <ul class="list-group" id="sch-Stops">
                                            <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="1" aria-label="">Hàng đang kinh doanh </li>
                                            <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="0" aria-label="">Hàng ngừng kinh doanh</li>
                                            <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="0,1" aria-label="">Tất cả</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <div class="datatable-top">
                                <div class="common-search">
                                    <div class="search-bar">
                                        <form class="search-form d-flex align-items-center" method="get" action="#"
                                              id="frm">
                                            <input type="text" id="query" name="query"
                                                   placeholder="Theo tên Hãng" title="Enter search keyword">
                                            <select class="form-select " name="sortPrice" id="sortPrice"
                                                    aria-label="không sắp xếp">
                                                <option selected="" value="">Không sắp xếp</option>
                                                <option value="desc">Giá cao nhất</option>
                                                <option  value=asc>Giá thấp nhất</option>
                                            </select>
                                            <input type="text" id="categoryIds" name="categoryIds" hidden="hidden">
                                            <input type="text" id="brandIds" name="brandIds" hidden="hidden">
                                            <input type="number" id="isStops" name="isStops" hidden="hidden">
                                        </form>
                                    </div>
                                </div>
                                <div style="float: right">
                                    <button type="button" class="btn btn-success btn-sm"
                                            onclick="insertPage()">Thêm mới
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                            onclick="remove_ver2()">Xóa
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm"
                                            onclick="importFunc()">Import
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm"
                                            onclick="exportFunc()">Export
                                    </button>
                                </div>

                            </div>

                            <!-- Table with stripped rows -->
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="row">
                                        <label>
                                            <input class="check-all-remove form-check-input" type="checkbox" id="checkbox_all"
                                                   onclick="allCheck()">
                                        </label>
                                    </th>
                                    <th scope="col">#</th>
                                    <th scope="col">###</th>
                                    <th scope="col">Mã Sản Phẩm</th>
                                    <th scope="col">Tên Sản Phẩm</th>
                                    <th scope="col">Giá Gốc</th>
                                    <th scope="col">Giá thực tế</th>
                                    <th scope="col">Tồn kho</th>
                                    <th scope="col">SL Khách đặt</th>
                                    <th scope="col">###</th>
                                </tr>
                                </thead>
                                <tbody id="data-table">

                                </tbody>
                            </table>

                            <!-- End Table with stripped rows -->
                            <th:block th:replace="~{manage/fragments/pagination :: ${pagination}}"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
</th:block>

<th:block id="js-resources">
    <script th:inline="javascript">

        $(document).ready(function () {
            loadDataTable(1);
            loadButton();
            loadDataSelect("sch-category", pageParam.getCategories);
            // $("#sch-category").on("change", function () {
            //     loadAttributes($(this).val())
            // });
            loadDataSelect("sch-brand", pageParam.getBrands, '', "Nhãn hàng");
            // $("#sch-brand").on("change", function () {
            //     loadAttributes($(this).val())
            // });


        });

        const pageParam = {
            'formId': 'frm',
            'dataListUrl': apiDomain + API.getMerchandiseProductUrl(),
            'deleteUrl': apiDomain + API.getMerchandiseProductUrl(),
            'updateStatusUrl': apiDomain + API.getMerchandiseProductUrl() + "/status",
            'getCategories': apiDomain + API.getMerchandiseCategoryUrl(),
            'getBrands': apiDomain + API.getMerchandiseBrandUrl()
        };
        //build list data
        //default name: getDataTable(data)
        function getDataTable(data) {
            let listData = '';
            data.forEach((element, index) => {
                let status = element.status === 1 ? "Sử dụng" : "Không sử dụng";
                let statusClass= element.status === 1 ? "bg-success" : "bg-danger";
                let checkBox = '';
                if(element.type == null){
                    checkBox = '<input name="ids" class="check-box-remove form-check-input" type="checkbox" value="'+element.id+'">';
                }
                listData += '<tr>' +
                    '                  <th>' +
                    checkBox +
                    '                  </th>' +
                    '                  <th scope="row">' + rowOrder(index) + '</th>' +
                    '                  <td><a href="#"><img src="'+element.thumbnailPc+'" alt="" style="border-radius: 5px; max-width: 60px;"></a></td>' +
                    '                  <td>' + element.id + '</td>' +
                    '                  <td>' + element.name + '</td>' +
                    '                  <td>' + element.price + '</td>' +
                    '                  <td>' + element.price + '</td>' +
                    '                  <td>' + element.amount + '</td>' +
                    '                  <td>' + element.amount + '</td>' +
                    // '                  <td><span class="badge rounded-pill bg-success">Bán Hàng</span><span class="badge rounded-pill bg-danger">Dừng bán</span></td>' +
                    '                  <td><span id="status-template-'+element.id+'" onclick="updateStatus('+element.id+','+element.status+')" style="cursor: pointer" class="badge rounded-pill '+getClassStatus(element.status)+'">'+getTextStatus(element.status)+'</span></td>' +
                    '                  <td><i class="bi bi-eye" style="cursor: pointer" onclick="detailPage('+element.id+""+')"></i></td>' +
                    '                </tr>'

            });
            return listData;
        }
        $( "#query" ).on( "keyup", function() {
            loadDataTable(1);
        } );
        function detailPage(id){
            $(location).attr('href', '/admin/merchandise/product/update?id='+id);
        }
        function insertPage(){
            $(location).attr('href', '/admin/merchandise/product/insert');
        }function importFunc(){
            alert("No support")
        }function exportFunc(){
            alert("No support")
        }
        function loadDataSelect(select, url) {
            let param = 'enabledPage=false&status=1';
            let res = ajaxCall(url, param, 'GET');
            if (res.status === 'success') {
                res.data.forEach((object) => {
                    $('#' + select).append(`<li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="`+object.id+`" aria-label="...">`+object.name+`</li>`);
                });
            } else {
                alert(res.msg);
            }
            $('#' + select+' .list-group-item input[type="checkbox"]').on('click', function() {
                updateDataSearchForm();
                loadDataTable(1);
            });
        }
        $('#sch-Stops .list-group-item input[type="checkbox"]').on('click', function() {
            updateDataSearchForm();
            loadDataTable(1);
        });
        function updateDataSearchForm(){
            const brandIdValues = Array.from(document.querySelectorAll('#sch-brand .list-group-item input[type="checkbox"]:checked')).map((checkbox) => checkbox.value);
            const categoryIdValues = Array.from(document.querySelectorAll('#sch-category .list-group-item input[type="checkbox"]:checked')).map((checkbox) => checkbox.value);
            const stopIdValues = Array.from(document.querySelectorAll('#sch-Stops .list-group-item input[type="checkbox"]:checked')).map((checkbox) => checkbox.value);

            $('#sortPrice').val($("#sortPrice option:selected").val());
            $('#categoryIds').val(categoryIdValues.toString());
            $('#brandIds').val(brandIdValues.toString());
            $('#isStops').val(stopIdValues.toString());
        }
        $("#sortPrice").change(function(){
            updateDataSearchForm();
            loadDataTable(1);
        });
    </script>
</th:block>
</body>
</html>
